<button class="content-slider__button prev"  {{action "prev"}}>‹</button>
<div class="content-slider__container">
  <div class="content-slider__items">
    {{yield}}
  </div>
</div>
<button class="content-slider__button next" {{action "next"}}>›</button>
